env/
envloc/
.DS_Store
*.pyc
*.sqlite3
**/staticfiles/*
*.cache
.idea/
ghostdriver.log
selenium-screenshot-*.png
.env*
.coverage
htmlcov/
graphviz/
dump.rdb
geckodriver.log
celerybeat.pid
claim_errors.txt
envloc.bat
*.bat
.vscode/
local_settings.py
venv/
*debug.log
Lib/
pyvenv.cfg